#login-container-id
{
    display: flex;
    width: 80%;
    #login-form{
        display: block;
        margin-left: 50%;
        margin-top: 10%;
        z-index: 99;
        position: relative;
        background: lightgray;
    }
    .dropdown-item:focus, .dropdown-item:hover{
        background-color: lightslategrey;
    }
    #signin-id{
        margin-left: 30%;
    }

    @media  (min-width : 320px) and (max-width:700px)
    {
        #login-form{
            margin-left: 20%;
            margin-top: 15%;
        }
    }


}