<div id="players-root-div">
    <section class="players-main">
        <ul *ngIf="users">
            <li class="header sticky-top">
              <p>Username</p>
              <p>Name</p>
              <p>Address</p>
              <p>Email</p>
              <p>Phone</p>
            </li>
            <li *ngFor="let user of users">
              <p> {{ user.username}}</p>
              <p> {{ user.name}}</p>
              <p> {{ user.address.street}} {{ user.address.suite}} {{ user.address.city}}</p>
              <!-- <p> {{ user.company.name}}</p> -->
              <p> {{ user.email}}</p>
              <p> {{ user.phone}}<button type="button" class="btn btn-outline-secondary mr-2" placement="top"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Stats">
                <i class="fas fa-external-link-square-alt fa-lg"></i>
               </button></p>
              <!-- <p> {{ user.website}}</p> -->
            </li>
          </ul>
    </section>
</div>

<!-- address: {street: "Kulas Light", suite: "Apt. 556", city: "Gwenborough", zipcode: "92998-3874", geo: {…}}
company: {name: "Romaguera-Crona", catchPhrase: "Multi-layered client-server neural-net", bs: "harness real-time e-markets"}
email: "Sincere@april.biz"
id: 1
name: "Leanne Graham"
phone: "1-770-736-8031 x56442"
username: "Bret"
website: "hildegard.org" -->