/* You can add global styles to this file, and also import other style files */

body, html {
    height: 0;
    margin: 0 auto;
}

body{
    display: flex;
    background:url("./assets/bodyback.jpg");
}

#root-section{
    width: 100%;
    top: 134px;
    position: absolute;
    justify-self: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

}

@media  (min-width : 320px) and (max-width:700px)
{
    #root-section{
        top: 131px;
    }
}

#footer-div{
    height:30px;
    background-color: dodgerblue;
}

